<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Human Resource Management System</h1>
        <p>Developed by Mahbub Moufty</p>
        <p>National College of Ireland</p>
        

        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About</h2>
          <p>This is human resource web application .Employees will be able to create their profile and edit it </p>
	  <p>The employee will be able to request their annual leaves </p>

         
        </div>
        <div class="col-md-4">
          <h2>Employee</h2>
          <p>The Employee needs to sign up first to access this web application . Once they signed up they can log in and create their profiles. </p>
          <p> To request their Annual leaves they need to login and go to Annual leaves pages . The employee needs to provide the dates of request as well </p>

       </div>
        <div class="col-md-4">
          <h2>Admin</h2>
          <p>Admin control the whole web application , checking the employee profile , if they need to edit , they can edit it and approve holidays</p>
          
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Mahbub Moufty 2015</p>
      </footer>
    </div> <!-- /container -->
